RewriteEngine on

#Rewrite for downloads.html
RewriteRule ^downloads downloads.html [NC,L]
RewriteRule ^sustainability sustainability.html [NC,L]
RewriteRule ^blog blog.html [NC,L]
RewriteRule ^How we became an eco-friendly corporate caterer in South Wales How we became an eco-friendly corporate caterer in South Wales.html [NC,L]
RewriteRule ^5 top tips to plan your wedding day blogThree.html [NC,L]
RewriteRule ^The carbon footprint of weddings and how to be a sustainable & ethical blogTwo.html [NC,L]
RewriteRule ^contact contact.php [NC,L]
