/*all pages*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'amsterdam';
    src: url('../Font/AmsterdamOne-eZ12l.ttf'), url('../Font/amsterdamone-ez12l-webfont.woff2');
    font-display: fallback;
    
}

@font-face{
    font-family: 'dual';
    src:url('../Font/Dual-300.ttf'), url('../Font/dual-300-webfont.woff2'), url('../Font/dual-300-webfont.woff');
    font-display: fallback;
}

/* headings */
.block h1{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'amsterdam', Fallback, brush script MT;
    letter-spacing: 2px;
    font-size: 36px;
}

.block h1:before, .block h1:after{
    display: block;
    content: ' ';
    height: 8px;
    background-image: linear-gradient(right,  #cb5827, transparent);
    background-image: -moz-linear-gradient(right,  #cb5827, transparent);
    background-image:-webkit-linear-gradient(right,  #cb5827, transparent);
    background-image:-ms-linear-gradient(right,  #cb5827, transparent);
    background-image:-o-linear-gradient(right,  #cb5827, transparent);
}

.block h1:after{
    background-image: linear-gradient(left, #cb5827, transparent);
    background-image: -moz-linear-gradient(left,   #cb5827, transparent);
    background-image:-webkit-linear-gradient(left,  #cb5827, transparent);
    background-image:-ms-linear-gradient(left,  #cb5827, transparent);
    background-image:-o-linear-gradient(left,  #cb5827, transparent);
}

/* smaller headings */
h2{
    font-family: 'amsterdam', Fallback,  brush script MT;
    text-align: center;
    padding: 5px 0 15px 0;
    letter-spacing: 2px;
    word-spacing: 9px;
    font-size: 24px;
}

/* buttons */
button{
    height: 80px;
    width: 200px;
    font-family: 'amsterdam', Fallback,  brush script MT;
    font-size: 24px;
    background:#cb5728;
    border: none;
    border-radius: 20px;
    font-weight: normal;
    transition: all 100ms ease-in-out;
}

button:hover{
    border: #000 2px solid;
    cursor: pointer;
}

/* read more */
.myBtn{ 
    border: none;
    background: none;
    font-family: 'dual', fallback, sans-serif;
    height: 50px;
    font-size: 16px ;
}

.myBtn:hover{
    border: none;
}

.more {display: none;}

/* links */
a {
    font-family: 'dual', fallback, sans-serif;
    text-decoration: none;
    padding: 0.5em;
    color: #cb5827;
    font-weight: 900;
    font-size: 18px;
    font-style: italic;
}

a:hover{
    font-style: normal;
}

/* hero image */
.hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px;
}

.heroImage{
    height: 600px;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(150%);
}

.hero img{
    opacity: 0.8;
    padding: 30px;
    background-color: white;
    border: #000 6px double;
}

.hero h1{
    font-family: 'amsterdam', fallback, brush script MT;
    color: #cb5728;
    background-color: white;
    padding: 30px 75px;
    border: #000 6px double;
    letter-spacing: 2px;
    opacity: 0.8;
}

/* bullets paragraphs */
.bullets p{
    font-family: "dual", Fallback, sans-serif;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.3;
}

/* bullets images */
.bullets img{
    width: 300px;
    height: 150px;
}

/*Home Page*/
/*hero image*/
.hp{
    grid-template-areas: "hero";
}

.hpImage{
    grid-area: hero;
    background-image: url("../Images/index/afternoon-tea-532.jpg");
    background-position: top;
}

.hpImage {
    filter: brightness(100%);
}

.vision{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 350px;         
}

.mission{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 400px;
    gap: 20px;
    grid-template-areas: "roots blurb";
}

.roots{
    grid-area: roots;
    margin: 15px;
    padding-left: 40px;
    width: 450px;
    height: 350px;
    filter: brightness(180%);
}

.blurb {
    grid-area: blurb;
    padding-top: 3em;
    padding-right: 10px;
    margin: 15px;
    text-align: justify;
    font-family: 'dual', Fallback, sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
}

/* .banner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "banner";
    background-image: url("../Images/index/afternoon-tea-88.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
    font-weight: 900;
    }

.bannerImage{
    grid-area: banner;
    background-color: rgba(0, 0,  0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    } */

.brag{
    color:#fff;
    font-family: 'dual', Fallback, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.6;
    text-align: center;
    margin: 1em;
}

.WWD{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 2em;
    margin-bottom: 2em;
    grid-template-areas: 
    ". plant . wls . "
    ". . guide . .";
}

.wls{
    grid-area: wls;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wls p{
    padding-bottom: 1em;
}

.plant{
    grid-area: plant;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant p{
    padding-bottom: 1em;
}

.testimonial{
    font-weight: 900;
}

.niftyGuide{
    grid-area: guide;
    margin:0 auto;
    display: block;
}

.niftyGuide p{
    font-family: 'dual', Fallback, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    margin: 1.5em;
}

.niftyGuide button{
    margin:0 auto;
    display: block;
    height: 3em;
    width: 13em;  
    padding-bottom: 3.5em;
}

.niftyGuide a{
    color: #000;
}

/*Sustainable Caters*/
.sus{
    grid-template-areas: "heroSC";
}

.susImage{
    grid-area: heroSC;
    background-image: url("../Images/sustainable/heroSC.jpg");
    background-position: top left;
}

.blurbSC{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "image p";
}

.blurbSC img{
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 400px;
    padding-top: 20px;
}

.blurbPSC{
    grid-area: p;
    font-family: 'dual', Fallback, sans-serif;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 1.6;
}

/* .team{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 500px;
    grid-template-areas: "photo h";
} */

/* .team img{
    grid-area: photo;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: center;
    border-radius: 20px;
    margin: 20px;
} */

/* .team2{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
} */

/* .team2 p{
    grid-area: h;
    text-align: left;
    font-family: 'dual', Fallback, sans-serif;
    font-size: 16px;
    color: black;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 1.6;
} */
/* 
.team2 h1{
    font-family: 'amsterdam', Fallback, brush script MT;
    font-size: 40px;
    text-align: center;
    color: #cb5728;
    padding-top: 40px;
} */

/* .team2 h2{
    font-family: 'amsterdam', Fallback, brush script MT;
    font-size: 40px;
    text-align: center;
    color: #cb5728;
    padding-top: 50px;
} */

.sustainableMain{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas: 
    "plant plant compost compost workwear workwear"
    ". shop shop plastic plastic .";
    margin-left: 20px;
    margin-right: 20px;
}

.sustainableMain h1, .downloadMain h1, .downloadMainTwo h1{
    font-family: 'amsterdam', Fallback,  brush script MT;
    text-align: center;
    padding: 5px 0 15px 0;
    letter-spacing: 2px;
}

.plant{grid-area: plant;}
.workwear{grid-area: workwear;}
.store{grid-area: shop;}
.compost{grid-area: compost;}
.plastic{grid-area: plastic;}

.textbox{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:  repeat(2, 105px); 
    grid-template-areas: ". textbox ." ". button .";
}

.textboxP{
    grid-area: textbox;
    padding: 20px 10px 10px 10px;
    font-family: 'dual', Fallback, sans-serif;
    color: #cb5728;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.3;
}

.textboxB{
    grid-area: button;
    font-family: 'dual', Fallback, sans-serif;
    margin-bottom: 20px;
    align-self: center;
    justify-self: center;
}

.goals img{
    display: inline;
    width: 10em;
    margin: 2em;
}

.goals p{
    font-family: 'dual', Fallback, sans-serif;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    padding-top: 2em;
}

/* downloads */
.heroD{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "heroD";
}

.heroImageD{
    grid-area: heroD;
    min-height: 400px;
    background-image: url("Images/downloads/download.jpg");
    background-size: cover;
    background-position: center left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(150%);
}

.heroD h1{
    font-family: 'amsterdam', fallback, brush script MT;
    color: #cb5728;
    background-color: white;
    padding: 30px 75px;
    border: #000 6px double;
    letter-spacing: 2px;
    opacity: 0.8;
}

.blurbD{
    font-family: 'dual', Fallback, sans-serif;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 2.5em;
    margin: 1em;
    text-align: center;
    font-weight: 550;
}

.explaination{
    font-family: 'dual', Fallback, sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 2.5em;
    letter-spacing: 1px;
    margin: 1em;
    padding-bottom: 1em;
}

.downloadMain{
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas: 
    "menus party";
}

.menus{
    grid-area: menus;
}

.orders{
    grid-area: orders;
}

.virtualParty{
    grid-area: party;
}

.downloadMainTwo{
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    margin-top: 5em;
    grid-template-areas: 
    "romantic wedding";
}

.romanticNight{
    grid-area: romantic;
}

.weddingMenu{
    grid-area: wedding;
}

.menus, .orders, .virtualParty, .romanticNight, .weddingMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    font-family: 'dual', Fallback, sans-serif;
    grid-template-areas: 
    "trust"
    "leader";
}

.trust{
    grid-area: trust;
}

.trust p{
    font-family: 'dual', Fallback, sans-serif;
    text-align: center;
    line-height: 2.5em;
    letter-spacing: 1px;
}

.trust button{
    margin:0 auto;
    display: block;
    height: 3em;
    width: 13em;  
    margin-top: 2em;
    padding-bottom: 3.5em;
}

.theLeader{
    grid-area: leader;
}

.theLeader h2, .feedback h2{
    margin-top: 2em;
    text-align: center;
    font-family: 'dual', Fallback, sans-serif;
}

.theLeader h2{
    margin-bottom: 1.2em;
}

.allLinks{
    display: flex;
    align-items:flex-start;
    justify-content:center;
}

.tLinks{
    margin-left: 1.2em;
}

.fbLink{
    margin:0 1.2em;
}

/*contact page*/
.C{
    grid-template-areas: "heroC";
}

.CImage{
    grid-area: heroC;
    background-image: url("../Images/contact/phone.jpg");
    background-position: center center;
}

.getInTouch{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas: "phone form";
    line-height: 1.6;
    font-family: 'dual', Fallback, sans-serif;
    margin: auto;
    padding: 5px;
    background-color: white;
}

.heading{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'amsterdam', fallback, brush script MT;
}

.companyInfo{
    grid-area: phone;
    background-color: #cb5827;
    line-height: 2;
}

.companyInfo ul{
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 20px;
}

.companyInfo span{
    font-weight: 900;
}

button.newsletter{
    border: solid 0.125em #000;
}

.contact{
    grid-area: form;
}

/* form styles */
.contact form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 50px;
    padding-top: 20px;
}

.contact label{
    display: block;
    font-size: 20px;
    font-weight: 900;
}

.contact form p{
    margin: 0 auto;
}

.contact input, textarea{
    height: 35px;
    width: 350px;
    padding: 2px;
    margin-top: 3px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font: 100 20px 'dual';
}

.contact input:focus, textarea:focus{
    border: 1px solid black;
}

.contact textarea{
    width: 350px; 
    height: 103px;
    resize: none;
}

.error span{
    color: red;
}

.success div{
    color: orange;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
}

/* shop */
.heroS{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
    grid-template-areas: "heroS";
}

.heroImageS{
    grid-area: heroS;
    height: 400px;
    background-image: url("Images/wild-roots-christmas-boxes-11.jpg");
    background-size: cover;
    background-position: top left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroS h1{
    font-family: 'amsterdam', fallback, brush script MT;
    color: #cb5728;
    background-color: white;
    padding: 30px 150px;
    border: #000 6px double;
    letter-spacing: 2px;
    opacity: 0.8;
}

.visionS{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 350px; 
}

.visionS h1{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'amsterdam', Fallback, brush script MT;
    letter-spacing: 2px;
    font-size: 36px;
}

.visionS h1:before, .visionS h1:after{
    display: block;
    content: ' ';
    height: 8px;
    background-image: linear-gradient(right,  #cb5827, transparent);
    background-image: -moz-linear-gradient(right,  #cb5827, transparent);
    background-image:-webkit-linear-gradient(right,  #cb5827, transparent);
    background-image:-ms-linear-gradient(right,  #cb5827, transparent);
    background-image:-o-linear-gradient(right,  #cb5827, transparent);
}

.visionS h1:after{
    background-image: linear-gradient(left, #cb5827, transparent);
    background-image: -moz-linear-gradient(left,   #cb5827, transparent);
    background-image:-webkit-linear-gradient(left,  #cb5827, transparent);
    background-image:-ms-linear-gradient(left,  #cb5827, transparent);
    background-image:-o-linear-gradient(left,  #cb5827, transparent);
}

.shop{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.panel{
    /* background-color: #000; */
    border: 6px double #000;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    max-width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* media query for mobile would be to set flex-direction: column */
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    /* opacity: 0.93; */
}

.pricing-plan{
    border-right: 1px solid #000;
    padding: 25px 50px;
}

.pricing-plan:last-child{
    border-right: none;
}
/* mobile view for column
.pricing-plan{
    border-bottom: 1px solid #000;
}

.pricing-plan:last-child{
    border-bottom: none;
} */

.pricing-img{
    margin-bottom: 25px;
    width: 100%;
    height: 140px;
}

.pricing-header{
    font-family: 'amsterdam', Fallback, brush script MT;
    color: #cb5827;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 20px;
}

.pricing-features{
    color: #000;
    margin: 50px 0 25px;
    /* list-style: none; */
    font-family: 'dual', Fallback, sans-serif;
    line-height: 1.5;
}

.pricing-features-item{
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 2;
    font-size: 14px;
    text-align: left;
}

.pricing-price{
    color: #000;
    font-family: 'dual', Fallback, sans-serif;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button{
    margin: 25px 0;
}

/* .pricing-button:hover{
    border: #fff 2px solid;
    color: #fff;
} */


/* blog */
.heroBlog{
    grid-template-areas: "hero";
}

.blogImage{
    grid-area: hero;
    background-image: url("../Images/blogs/heroImage.jpg");
    background-position: center;
}



/*all desktops*/
@media (min-width: 1200px){
    /*Home Page*/
    .dots{display: none;}
    .myBtn{display: none;}
    .more{display: contents;}
}

/*bigger desktop*/
@media (max-width:1200px){
    /*Home Page*/
    .blurb{font-size: 14px;}
}

/*Medium Desktop*/
@media (max-width:1000px){
    /*main headings*/
    .block h1{font-size: 25px;}
    /*Home Page*/
    .blurb{font-size: 11.5px;}
     /*Sustainability*/
     .sustainableMain{grid-template-columns: 1fr 1fr; grid-template-rows: auto; gap: 25px; grid-template-areas: "plant compost" "workwear shop" "plastic plastic"; margin-left: 15px; margin-right: 15px;} 
     .textbox{grid-template-columns: 1fr; grid-template-rows: auto; grid-template-areas: "textbox" "button";}
}

/*Small desktop*/
@media (max-width:800px){
   /*Hero image*/
   .hero{grid-template-rows: 525px;}
   .hero img{width: 550px;}
   .heroImage{height: 525px;}
   /* main headings */
   .block h1 {padding: 6px; letter-spacing:none; gap: 2px;}
   /* SMALL HEADINGS */
   h2{font-size: 24px;}
   /* bullets */
   .bullets h2{padding: 5px 15px 15px 15px;}
   .bullets p{font-size: 16px; padding: 0 15px 0 15px;}
   /*Home Page*/
   .mission{grid-template-columns: 1fr; grid-template-rows: 350px 275px; grid-template-areas: "roots" "blurb";}
   .roots{margin: auto;}
   .WWD{grid-template-columns: 1fr 1fr; grid-template-rows:auto; gap: 15px; grid-template-areas: "plant wls" "guide guide"} 
   .dots{display: contents;}
   .myBtn{display: block;}
   .more{display: none;}
   /*Sustainability Caterers*/
   .blurbSC{grid-template-columns: 1fr; grid-template-rows: auto; grid-template-areas: "image" "p"; gap: 15px;}
   .blurbSC img{margin: auto;}
   .T h1{font-size: 25px;}
   .sustainableMain p{margin: 10px;}
   /*Contact*/
   .container{grid-template-columns: 1fr; grid-template-rows: auto; grid-template-areas: "phone" "form";}
   /*Form Styles*/
   .contact form{padding-left: 0;}
}

/*Tablet*/
@media (max-width:600px){
      /*Hero image*/
      .hero{grid-template-rows: 475px;}
      .hero img{width: 350px;}
      .heroImage{height: 475px;}
      .hero h1{font-size: 28px; padding:15px;}
      /*main headings*/
      .block h1{font-size: 15px; padding: 4px;}
      /* bullets */
      .bullets button {height: 60px; width: 150px; font-size: 16px;}
      .bullets button:hover{border: #000 1.25px solid;}
      /*Home Page*/
      .mission{grid-template-rows: 290px 400px; gap: 10px;}
      .roots{width: 350px; height: 270px; padding-left: 20px;}
      .blurb{font-size: 11.5px;}
      .myBtn{margin: 0 auto;}
      .WWD {grid-template-columns: 1fr; grid-template-areas: "plant" "wls" "guide"} 
      .wls p, .plant p{padding-bottom: 2px;}
      .niftyGuide button{width: 13em;}
      /*Sustainable Caterers*/
      .blurbSC{grid-template-columns: 1fr; grid-template-rows: auto; grid-template-areas: "image" "p"; gap: 15px;}
      .blurbPSC{font-size: 13px;}
      .sustainableMain{grid-template-columns: 1fr; gap: 15px; grid-template-areas:"plant" "compost" "workwear" "shop" "plastic"} 
      .sustainableMain p{margin: auto;}
      .textbox{grid-template-columns: 1fr; grid-template-rows: auto; grid-template-areas: "textbox" "button";}
      /* downloads */
      .downloadMain{grid-template-columns: 1fr; grid-template-areas: "menus" "party" "romantic" "wedding";}
      /*Contact*/
      .heroC h1{font-size: 26px;}
      .heading h1{font-size: 28px;}
      .companyInfo ul{font-size: 16px;}
      /*Form Styles*/
      .contact form{gap: 10px;}
      .contact label{font-size: 18px; font-weight: 800;}
      .contact input, textarea{height: 30px; width: 325px; font: 100 16px 'dual';}
      .contact textarea{height:95px; width: 325px;}
}

/*mobile*/
@media (max-width:375px){
     /*Hero image*/
     .hero{grid-template-rows: 400px;}
     .hero img{width: 250px;}
     .heroImage{height: 400px;}
     .hero h1{font-size:22px;}
      /*main headings*/
     .block h1 {font-size: 10px; padding: 2px;}
     /* bullets */
     .bullets h2{ letter-spacing: 3px; font-size: 14px; word-spacing: 5px;}
     .bullets p{font-size: 12px; letter-spacing: 0.5px;}
     .bullets img{ width: 270px; height: 150px;}
     .bullets button {height: 40px; width: 100px; font-size: 12px; margin-bottom: 15px;}
     .bullets button:hover{border: #000 0.5px solid;}
      /*Home Page*/
     .mission{grid-template-rows: 260px 400px; gap: 5px;}
     .roots{width: 300px; height: 250px;}
     .actions h1{font-size: 26px; letter-spacing: none; gap: 2px; padding: 5px;}
     .myBtn{font-size: 12px; height: 16px;}
     .niftyGuide button{width: 13em;}
      /*Sustainable Caterers*/
      .blurbSC img{width: 300px; height: 250px; margin: auto; padding-left: 20px;}
      .blurbPSC{font-size: 11.5px;}
      .T h1{font-size: 13px; letter-spacing:none; gap: 2px;}
      .sustainableMain p{margin: 10px;}
      .textboxP{font-size: 14px;}
       /*Contact*/
     .heading h1{font-size: 20px;}
     .companyInfo ul{font-size: 14px;}
     /*Form Styles*/
     .contact label{font-size: 16px; font-weight: 700;}
     .contact input, textarea{height: 25px; width: 300px; font: 100 14px 'dual';}
     .contact textarea{height:80px; width: 300px;}
}